<img src="{{avatar_url}}" alt="{{name}}" class="user-avatar"/>
<h2>{{name}}</h2>
<h4>{{login}}</h4>
<hr>
<span class="joined"><span class="octicon octicon-clock"></span>Joined on {{created_at}}</span>
<hr>
<div class="user-stats">
  <a href="{{followers_url}}"><h2 class="followers">{{followers}}</h2><p>Followers</p></a>
</div>
<div class="user-stats">
<a href="{{starred_url}}"><h2 class="followers">0</h2><p>Starred</p></a>
</div>
<div class="user-stats">
<a href="{{following_url}}"><h2 class="followers">{{following}}</h2><p>Following</p></a>
</div>
<hr>
<h3>Organizations</h3>
<a href="https://github.com/TIY-GVL-FEE-2015-May"><img src="js.png" alt="organizations" class="js-logo"/></a>
